@import "base.scss";

.navigation {
    
    .navigation__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation__list{
            display: flex;
            grid-gap: 51px;
            a{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 23.4px;
                text-align: left;

            }
            @media screen and (max-width: $md) {
                display: none;
            }
        }
        .navigation__menu-button{
            border: none;
            display: flex;
            background-color: rgba($color: #fff, $alpha: 0);
            height: 30px;
            img{
                height: 100%;
            }
            @media screen and (min-width: $md) {
                display: none;
            }
        }
        .navigation__menu{
            //@media screen and (min-width: $md) {
                display: none;
                //size: 0;
           // }
        }
    }
}
