.possibilities{
    margin-bottom: 67px;

    &__header{
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    &__card{
        //padding: 48px 45px 0px 45px;
        width: 285px;
        height: 320px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h4{
            text-align: center;
            margin-bottom: 18px;
        }
        img{
            margin-top: 48px;
            height: 90px;
            margin-bottom: 26px;
        }
    }
    &__card__blue{
        background-color: #DFE1FF;
    }
    &__card__orange{
        background-color: #FFE1AD;
    }
    .possibilities__swiper-wrapper{

    }
    .possibilities__swiper-slide{
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
        width: auto;
    }
}